body {
  background-color: #CCC;
}

.card {
  border: 3px solid black;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  display: none;
  margin: 3px;
  background-color: #C3C146;;
}

p {
  margin-top: -10px;
}

#list span {
  font-size: 0.8em;
  display: inline-block;
  margin-right: 5px;
}